/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/*
  Enhanced by Prit Cee (@pritceeart)
  This customization is shared under the Mozilla Public License v. 2.0.
  Feel free to use, adapt, and elevate as needed. No support is provided, and your creativity is the limit.
  Kindly respect the original license by MrOtherGuy.
*/

/* Apply styles only when toggled using the userchrome toggle addon */
:root[titlepreface="á Ž"] {
  #sidebar-box {
    --uc-sidebar-width: 48px;
    --uc-sidebar-hover-width: 260px;
    --uc-autohide-sidebar-delay: 0ms; /* Wait 0.6s before hiding sidebar */
    --uc-autohide-transition-duration: 150ms;
    --uc-autohide-transition-type: ease-in-out;
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index: 1;
  }

  #sidebar-box[positionend] { direction: rtl }
  #sidebar-box[positionend] > * { direction: ltr }

  #sidebar-box[positionend]:-moz-locale-dir(rtl) { direction: ltr }
  #sidebar-box[positionend]:-moz-locale-dir(rtl) > * { direction: rtl }

  #sidebar-splitter {
    width: 10px !important;
    visibility: collapse;
  }

  #sidebar-header::before,
  #sidebar-header::after {
    content: "";
    display: flex;
    padding-left: 8px;
  }

  #sidebar-box:hover > #sidebar-header,
  #sidebar-box:hover > #sidebar {
    min-width: var(--uc-sidebar-hover-width) !important;
    max-width: var(--uc-sidebar-hover-width) !important;
    box-shadow: 0 0px 1px rgba(255, 255, 255, 0.7), 0 0px 2px rgba(0, 0, 0, 0.7);
    transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) 0s, box-shadow var(--uc-autohide-transition-duration) ease-in-out 300ms !important;
  }

  #sidebar-box > #sidebar-header,
  #sidebar-box > #sidebar {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
  }

  .sidebar-panel {
    background-color: transparent !important;
    color: var(--newtab-text-primary-color) !important;
  }

  .sidebar-panel #search-box {
    -moz-appearance: none !important;
    background-color: rgba(249, 249, 250, 0.1) !important;
    color: inherit !important;
  }

  /* Add sidebar divider and give it background */
  #sidebar,
  #sidebar-header {
    background-color: inherit !important;
    border-inline: 0px;
    border-inline-width: 0px 1px;
  }

  #sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
  #sidebar-box[positionend] > * {
    border-inline-width: 0px 0px;
  }

  /* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */
  #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel {
    inset-inline: auto 0px !important;
  }

  #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label {
    margin-inline: 0px !important;
    border-left-style: solid !important;
  }
}