:root[titlepreface="᠎"] {
    

    --uc-tweak-rounded-corners-padding: 12px !important;
    --uc-tweak-rounded-corners-radius: 8px !important;
    
    @media  (-moz-bool-pref:"uc.tweak.af.thin-navbar") {
          --uc-tweak-rounded-corners-padding: 10px !important;  
    }
    #sidebar-box {
        --uc-sidebar-width: var(--uc-tweak-rounded-corners-padding) !important;
        margin: 0px 0 0 0 !important;
        padding: 0 0 0 0 !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        width: 9px !important;
    }

    #sidebar-box:not(:hover) #sidebar {
        width: 0px !important;
    }

    #sidebar-box::before,
    #sidebar-box:hover::before {
        opacity: 1 !important;
    }


    #appcontent .browserStack {
        overflow: hidden !important;
        margin-left: 0 !important;
    }

}


:root[titlepreface="᠎"] {
    #sidebar-box:hover>#sidebar {
        margin-left: 8px !important;
        margin-bottom: 8px !important;
    }

    #sidebar-box:not(:hover)>#sidebar {
        border-radius: 0 !important
    }


    #sidebar-box:not(:hover)::before {
        opacity: 1 !important
    }
}