/*
  Styles by PritCee (@pritceeart)
  Twitter: https://twitter.com/pritceeart

  This CSS is open source and editable, and reusable in non-commercial projects.
  Feel free to use, adapt, and elevate as needed. No support is provided, and your creativity is the limit.

  Parts of the code were adapted from Edge FrFox (GitHub: https://github.com/edgefrfox)
  and MrOtherGuy's Firefox Tweaks (GitHub: https://github.com/MrOtherGuy/firefox-csshacks).

  Remember to respect the original authors' work and adhere to their licenses.
*/
/* Import external styles */
@import url("autohide-sidebar-modified.css");

/**/
@import url("translucent-base.css") (-moz-bool-pref: "uc.tweak.af.translucent-enable");
/**/
/**/
@import url("translucent-base.css") (-moz-bool-pref: "uc.tweak.af.translucent-arc");
@import url("translucent-arc.css") (-moz-bool-pref: "uc.tweak.af.translucent-arc");
/**/
@import url("hidden-sidebar.css") (-moz-bool-pref: "uc.tweak.af.hidden-sidebar");


:root {
  --urlbar-icon-border-radius: 8px !important;
  /**/
  --toolbarbutton-border-radius: 8px !important;
  --toolbarbutton-inner-padding: 8px !important;
  --uc-toolbarbutton-inner-inline-padding: 8px !important;
  --toolbarbutton-outer-padding: 2px !important;
  --tabs-navbar-shadow-size: 0px !important;
}

:root {
  transition: background-color 300ms ease-in !important;
}



/* indicator for private browsing mode with tabs hidden */

:root[privatebrowsingmode="temporary"] {
  #private-browsing-indicator-with-label {
    display:none !important;
  }
#nav-bar{
  padding-right:70px !important;
}
    #nav-bar::after {
      content: var(--uc-string-private);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px; /* Adjust width as needed */
      height: 20px; /* Adjust height as needed */
      background-color: purple; /* Change background color as desired */
      color: white; /* Change text color as desired */
      opacity:0.6;
      position: absolute;
      top: calc(50% - 10px); /* Centers vertically */
      right: 8px; /* Places at the rightmost end */
      border-radius: 4px; /* Creates rounded corners */
  }
}

/*variables*/
:root[windowtype="navigator:browser"],
:root[windowtype="navigator:browser"]:not(:-moz-lwtheme) {
  background-color: color-mix(in srgb, var(--lwt-accent-color) 60%, light-dark(rgb(240, 240, 240), rgb(50, 50, 50))) !important;
}

/*make shit transparent*/
:root[windowtype="navigator:browser"]:not(:-moz-lwtheme) {
  --lwt-accent-color: light-dark(rgb(255, 255, 255), rgb(30, 30, 30)) !important;
}



#main-window {
  position: relative;
}

:root#main-window::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0.4px 1px light-dark(rgba(255, 255, 255, 0.9), rgba(220, 220, 220, 0.4)) !important;
  border-radius: 10px !important;
  z-index: 20;
  pointer-events: none;
}

:root[inFullscreen]#main-window::before {
  opacity: 0 !important;
}



/* fix sidebar opacity when auto collapse enabled **/
:root[titlepreface="á Ž"] {
  #sidebar-box {
    opacity: 0.75 !important;
  }

  #sidebar-box:hover {
    opacity: 1 !important;

  }

  #sidebar-box:hover>#sidebar {
    box-shadow: 0px 0px 0px 1px light-dark(rgba(0, 0, 0, 0.40), rgba(200, 200, 200, 0.40)),
      0px 0px 18px 4px light-dark(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.40)) !important;
    z-index: 3 !important;

  }


}

#webextpanels-window {
  background-color: transparent !important;
}

:root:-moz-window-inactive #nav-bar-customization-target {
  opacity: 0.6 !important;
}




/* Fixes for Firefox to enable autohide */
#sidebar-box {
  overflow: visible !important;
  position: relative !important;
}

/* Make corners more rounded */
@media (-moz-bool-pref: "uc.tweak.rounded-corners") {

  /* Variables used for rounded corners */
  :root {
    --uc-tweak-rounded-corners-padding: 8px !important;
    --uc-tweak-rounded-corners-radius: 8px !important;
  }
}



#navigator-toolbox {
  border-bottom: enone !important;
}


/* Common styles for #sidebar and #sidebar-box */
#sidebar,
#sidebar-box {
  border-radius: var(--uc-tweak-rounded-corners-radius);
}


/* Styles specific to #sidebar */
#sidebar {
  margin: 0 !important;
  padding-top: 0 !important;
  opacity: 1 !important;
  padding-bottom: 0 !important;
}

#sidebar-box {
  background-color: transparent;
}

/* Styles for .sidebar-splitter */
.sidebar-splitter {
  border-color: rgba(0, 0, 0, 0) !important;
}

.sidebar-splitter:hover {
  border-radius: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 3px dotted #fff;
  background-color: var(--urlbar-box-active-bgcolor) !important;
  transition: background-color 200ms ease-in-out;
}





/* Styles for the navigation bar */
/*sidebery*/
:root:not([customizing]):has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden])),
/* Tree Style Tab */
:root:not([customizing]):has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])),
/* Tab Center Reborn */
:root:not([customizing]):has(#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]:not([hidden])) {
  /* Height of navbar, used for determining height and position of window controls */
  --uc-navbar-height: 38px;
  /* Drag space next to the window controls, allows you to move the window more easily */
  --uc-titlebar-drag-space: 40px;

  /* Hide the tabs */
  & #TabsToolbar {
    visibility: collapse !important;
  }

  /* Fix issue with missing window controls. */
  &[tabsintitlebar] #titlebar {
    will-change: auto !important;
  }

  /* Add some padding to the top of the navbar */
  &[tabsintitlebar] #nav-bar {
    --uc-tab-top-margin: 1px;
    padding-top: var(--uc-tab-top-margin, 0) !important;
    margin-top: 1px !important;
  }

}

:root [tabsintitlebar] #nav-bar {
  padding-top: 10px;
}


:root[tabsintitlebar] #nav-bar {
  padding-top: 0 !important;
}

/* Styles for sidebar header */
#sidebar-header {
  display: none;
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
  padding-inline: 0 !important;
}

.panel-no-padding {
  padding: 2px !important;
}



#userchrome-toggle_joolee_nl-BAP.unified-extensions-item-action-button {
  list-style-image: url("../icons/sidebars.svg") !important;
}


#fxa-toolbar-menu-button {
  transform: scale(0.8) !important;
}



#urlbar[breakout][breakout-extend] #urlbar-background {
  opacity: 1 !important;
  margin-top: 4px !important;
}

/*urlbar buttons height fix*/

/* Site information and Permissions buttons. */
#identity-icon-box,
#identity-permission-box,
.notification-anchor-icon,
#tracking-protection-icon-container{
  max-height: 24px !important;
  height:24px !important;
  margin-top:2px !important;
  margin-left:-2px;
}
.urlbar-page-action{
  height:24px !important;
  max-height:24px !important;
  margin-top:-1px !important;
  & .urlbar-icon {
    height:15px !important;
    width:15px !important;
padding:0px !important;
    margin:-2px 0 0 0 !important;
    
  }
}

/* Zoom level and tab container indicators. */
#userContext-icons,
#urlbar-zoom-button {
  --uc-urlbar-icon-inline-padding:8px !important;
  max-height: 20px !important;
  height:20px !important;
  padding: 8px !important;
  margin-block: 3px !important;
  margin-inline: 3px !important;
}

#navigator-toolbox #nav-bar-customization-target .toolbarbutton-badge {
  margin-top: 8px !important;}
/* Opacity and transition for address bar and toolbar buttons 
#navigator-toolbox:not(:hover) #urlbar-input-container, */
#navigator-toolbox:not(:hover) .toolbarbutton-1,
#navigator-toolbox:not(:hover) .toolbarbutton-1 .toolbarbutton-icon {
  opacity: 0.8;
  transition: opacity 300ms linear !important;
}

/* #navigator-toolbox:hover #urlbar-input-container, */
#navigator-toolbox:hover .toolbarbutton-1,
#navigator-toolbox:hover .toolbarbutton-1 .toolbarbutton-icon {
  opacity: 0.8;
  transition: opacity 300ms linear !important;
}

#identity-box,
#tracking-protection-icon-container,
#page-action-buttons {
  opacity: 0.5 !important;
  transition: opacity 300ms ease-in-out;
}


#urlbar:hover #identity-box,
#urlbar:hover #tracking-protection-icon-container,
#urlbar:hover #page-action-buttons {
  opacity: 0.8 !important;
}


.urlbar-input-box {
  margin-top: -2px !important;
}


#tabbrowser-tabpanels {
  background-color: transparent !important;
}

:root {
  --uc-titlebar-drag-space: 8px !important;
}

/* macOS specific positioning */
@media (-moz-platform: macos) {

  /* Offset navbar contents to make space for the window controls */
  &[tabsintitlebar] #nav-bar:not([inFullscreen]) {
    padding-left: calc(0px + var(--uc-titlebar-drag-space)) !important;

    /* Remove the padding from the side of the navbar */
    & #nav-bar-customization-target> :is(toolbarbutton, toolbaritem):first-child {
      padding-inline-start: 0 !important;
    }
  }
}

/*stick stop-reload button into right corner of addressbar like in safari*/
/* if stop-reload-button is on the IMMEDIATE RIGHT of the addressbar, stick it into the addressbar*/
#urlbar-container:has(+ #stop-reload-button) #urlbar {
  padding-right: 28px;
}

#urlbar-container+#stop-reload-button {
  background-color: transparent !important;
  --toolbarbutton-border-radius: 8px !important;
  --toolbarbutton-inner-padding: 5px !important;
  --uc-toolbarbutton-inner-inline-padding: 6px !important;
  --toolbarbutton-outer-padding: 2px;
    --toolbarbutton-hover-background: var(--urlbar-box-hover-bgcolor) !important;
  margin-left: -38px;
  margin-right: 10px;
  z-index:9999 !important;
}

#urlbar-container+#stop-reload-button:hover {
  opacity: 1 !important;
  & .toolbarbutton-icon{
    opacity:1 !important;
  }
}

#urlbar-container+#stop-reload-button .toolbarbutton-icon {
width:26px !important;
  height:24px !important;

}


/*only show urlbar buttons on hover*/
#star-button,
#page-action-buttons {
  display: flex !important;
}

#urlbar:hover #star-button,
#urlbar:hover #page-action-buttons {
  display: flex !important;
  opacity:0.8 !important;
  
}

#urlbar:not(:hover) #star-button:not([open]),
#urlbar:not(:hover) #page-action-buttons .urlbar-page-action:not([open]) {
  display:none !important;
  opacity:0 !important;
  width:0.1px !important;

}

#urlbar:not([focused]) .urlbar-input:not([focused]) {
  text-align: center !important;
}




:root[windowtype="navigator:browser"] #back-button {
  list-style-image: url("icons/arrow.svg") !important;
  transform: rotate(180deg);
}

:root[windowtype="navigator:browser"] #forward-button {
  list-style-image: url("icons/arrow.svg") !important;

}



/* Userchrome Toggle => sidebar icon */
:is(.webextension-browser-action,
  .eom-addon-button):is([data-extensionid="userchrome-toggle-extended@n2ezr.ru"],
  [data-extensionid="userchrome-toggle@joolee.nl"]) .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/sidebars.svg");
}

/* uBlock Origin => custom svg icon */
:is(.webextension-browser-action,
  .eom-addon-button)[data-extensionid="uBlock0@raymondhill.net"] .toolbarbutton-icon {
  list-style-image: url("icons/ublock.svg");
}

/* Bitwarden => custom svg icon */
:is(.webextension-browser-action,
  .eom-addon-button)[data-extensionid="{446900e4-71c2-419f-a6a7-df9c091e268b}"] .toolbarbutton-icon {
  list-style-image: url("icons/bitwarden.svg");
}

/* Privacy Badger => it's own monochrome icon */
:is(.webextension-browser-action,
  .eom-addon-button)[data-extensionid="jid1-MnnxcxisBPnSXQ@jetpack"] .toolbarbutton-icon {
  list-style-image: image-set(url("moz-extension://51ac6f66-1bb5-4473-93a0-41ead025ec8f/icons/badger-19-disabled.png"), url("moz-extension://51ac6f66-1bb5-4473-93a0-41ead025ec8f/icons/badger-38-disabled.png"));
}

/* Dark Reader => custom svg icon (moon) */
:is(.webextension-browser-action,
  .eom-addon-button)[data-extensionid="addon@darkreader.org"] .toolbarbutton-icon {
  list-style-image: url("icons/dr.svg");
}