/*
  Styles by PritCee (@pritceeart)
  Twitter: https://twitter.com/pritceeart

  This CSS is open source and editable, and reusable in non-commercial projects.
  Feel free to use, adapt, and elevate as needed. No support is provided, and your creativity is the limit.

  Parts of the code were adapted from Edge FrFox (GitHub: https://github.com/edgefrfox)
  and MrOtherGuy's Firefox Tweaks (GitHub: https://github.com/MrOtherGuy/firefox-csshacks).

  Remember to respect the original authors' work and adhere to their licenses.
*/
/* Import external styles */
@import url("autohide-sidebar-modified.css");
/**/@import url("translucent-window.css") (-moz-bool-pref: "uc.tweak.translucent-window");/**/
/**/@import url("translucent-arcy.css") (-moz-bool-pref: "uc.tweak.ts-more-arcy");/**/


:root {
  --urlbar-icon-border-radius: 8px !important;
}

/* fix sidebar opacity when auto collapse enabled **/ 
:root[titlepreface="á Ž"] {
  #sidebar-box {
    opacity:0.75 !important;
  }
  
  #sidebar-box:hover {
  opacity:1 !important;
  
  }
  
}

#webextpanels-window {
  background-color: transparent !important;
  }

:root:-moz-window-inactive #nav-bar-customization-target {
opacity:0.6 !important;
}




/* Fixes for Firefox to enable autohide */
#sidebar-box {
    overflow: visible !important;
    position: relative !important;
}

/* Make corners more rounded */
@media (-moz-bool-pref: "uc.tweak.rounded-corners") {
    /* Variables used for rounded corners */
    :root {
        --uc-tweak-rounded-corners-padding: 8px !important;
        --uc-tweak-rounded-corners-radius: 10px !important;
    }
}


#navigator-toolbox{border-bottom:enone !important;}


/* Common styles for #sidebar and #sidebar-box */
#sidebar,
#sidebar-box {
    border-radius: var(--uc-tweak-rounded-corners-radius) ;
}


/* Styles specific to #sidebar */
#sidebar {
    margin: 0 !important;
    padding-top: 0 !important;
    opacity: 1 !important;
    padding-bottom: 0 !important;
}

#sidebar-box {
    background-color: transparent ;
}

/* Styles for .sidebar-splitter */
.sidebar-splitter {
    border-color: rgba(0, 0, 0, 0) !important;
}

.sidebar-splitter:hover {
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 3px dotted #fff;
    background-color: var(--urlbar-box-active-bgcolor) !important;
    transition: background-color 200ms ease-in-out;
}





/* Styles for the navigation bar */
#nav-bar {
    margin-top: 1px !important;
}

/* Styles for sidebar header */
#sidebar-header {
    display: none;
    overflow: hidden;
    color: var(--chrome-color, inherit) !important;
    padding-inline: 0 !important;
}

.panel-no-padding {
    padding: 2px !important;
}



#userchrome-toggle_joolee_nl-BAP.unified-extensions-item-action-button {
list-style-image: url("../icons/sidebars.svg") !important;
}


#fxa-toolbar-menu-button {
transform:scale(0.8) !important;
}



#urlbar[breakout][breakout-extend] #urlbar-background {
opacity:1 !important;
margin-top:4px !important;
}


/* Opacity and transition for address bar and toolbar buttons 
#navigator-toolbox:not(:hover) #urlbar-input-container, */
#navigator-toolbox:not(:hover) .toolbarbutton-1,
#navigator-toolbox:not(:hover) .toolbarbutton-1 .toolbarbutton-icon {
    opacity: 0.8;
    transition: opacity 300ms linear !important;
}

/* #navigator-toolbox:hover #urlbar-input-container, */
#navigator-toolbox:hover .toolbarbutton-1,
#navigator-toolbox:hover .toolbarbutton-1 .toolbarbutton-icon {
    opacity: 0.8;
    transition: opacity 300ms linear !important;
}

#identity-box,
#tracking-protection-icon-container,
#page-action-buttons {
  opacity:0.5 !important;
  transition: opacity 300ms ease-in-out;
}

#urlbar:hover #identity-box,
#urlbar:hover #tracking-protection-icon-container,
#urlbar:hover #page-action-buttons {
  opacity:0.8 !important;
}


.urlbar-input-box{margin-top:-2px !important;}


.browserContainer > findbar {
  &:-moz-lwtheme {
    :root:not([lwtheme-image]) &:-moz-window-inactive {
      background-color: red !important;
    }
  }
}

#tabbrowser-tabpanels {
  background-color: transparent !important;
}
:root {
--uc-titlebar-drag-space: 0px !important;
}

  /* macOS specific positioning */
  @media (-moz-platform: macos) {
    /* Offset navbar contents to make space for the window controls */
    &[tabsintitlebar] #nav-bar:not([inFullscreen]) {
      padding-left: calc(0px + var(--uc-titlebar-drag-space)) !important;

      /* Remove the padding from the side of the navbar */
      & #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child {
        padding-inline-start: 0 !important;
      }
    }
  }

/*stick stop-reload button into right corner of addressbar like in safari*/
/* if stop-reload-button is on the IMMEDIATE RIGHT of the addressbar, stick it into the addressbar*/
#urlbar-container:has(+ #stop-reload-button) #urlbar {
  padding-right: 28px;
}
#urlbar-container + #stop-reload-button {
  background-color:transparent !important;
  --toolbarbutton-border-radius: 10px !important;
  --toolbarbutton-inner-padding: 6px !important;
  --uc-toolbarbutton-inner-inline-padding: 8px !important;
  --toolbarbutton-outer-padding: 2px;
  margin-left: -44px;
  margin-right: 10px;
}
#urlbar-container + #stop-reload-button:hover {
opacity:1 !important;
} 

#urlbar-container + #stop-reload-button .toolbarbutton-icon {
transform:scale(0.9) !important;

}


/*only show urlbar buttons on hover*/
#star-button, #page-action-buttons {
  display:none !important;
}

#urlbar:hover #star-button, #urlbar:hover #page-action-buttons {
   display:flex !important;
}



#urlbar:not([focused]) .urlbar-input{ text-align: center !important; }


.appcontent {
  border:5px solid rgba(255,0,0,1) !important;
}