#root.root {
    --tabs-indent: 18px;
    --tabs-inner-gap: 6px;
    --tabs-pinned-height: 42px;
    --tabs-pinned-width: 42px;
    --general-margin: 8px;
    --tabs-height: 32px;
    --history-item-padding-left: 6px;
    --history-item-margin: 5px;
    --history-item-border-radius: 8px;
    --tabs-close-btn-margin: 3px;
    --nav-btn-margin: 0px 5px;
    --nav-btn-width: 28px;
    --nav-btn-height: 28px;
    --nav-btn-len-margin: -1px;
    --ntb-padding: 0px !important;
    --ntb-btn-height: 28px;
    --tabs-lvl-opacity: 0.4;
    --tweak-general-padding: 4px;
    --active-el-bg: light-dark(rgb(100, 100, 100, 30%),
            rgb(180, 180, 180, 30%));
    --tabs-audio-btn-width: 16px;
    --tabs-activated-shadow: inset 0 0 0 1px light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.7));
    --tabs-normal-fg: light-dark(rgba(0, 0, 0, 1),
            rgba(255, 255, 255, 1));
    --tabs-activated-bg: light-dark(rgb(180, 180, 180, 0.4),
            rgb(255, 255, 255, 0.9)) !important;
    --tabs-activated-fg: light-dark(black, black) !important;
}

/* Padding adjustments */
#root.root .PinnedTabsBar,
#root.root .ScrollBox .scrollable,
#root.root .top-horizontal-box {
    padding-top: 4px !important;
}

/* Hidden panels */
#hidden_panels_btn.nav-item .icon,
.hidden-panels-popup-layer,
.NavigationBar .hidden-panels-popup-content {
    transform: scaleY(-1);
}

.hidden-panels-popup-layer {
    margin-top: -15%;
    background: red !important;
    z-index: 900;
    border-radius: 8px !important;
}

.hidden-panels-popup-layer * {
    border-radius: 8px;
}
/* Main box */
#root.root .main-box {
    transition: opacity 100ms ease;
    padding: 0;
    opacity: 1;
}

/* Pinned Tabs */

#root.root .PinnedTabsBar {
    border-bottom: 1px solid white, 2px solid black;

    & .Tab {
        margin-bottom: 4px !important;
    }
}

/* Tabs */
.scrollable .Tab:first-child {
    margin-top: 10px !important;
}

.Tab[data-discarded="true"] .t-box {
    opacity: 0.7 !important;
}

.Tab:hover[data-discarded="true"] .t-box {
    opacity: 1 !important;
}

/* Tab colors */
.scrollable .Tab .color-layer {
    width: 32px !important;
    --tabs-color-layer-opacity: 0.5;
}

.scrollable .Tab[data-discarded="true"] .color-layer {
    width: 32px !important;
    --tabs-color-layer-opacity: 0.2 !important;
}

.scrollable .Tab[data-active="true"] .color-layer,
.scrollable .Tab:hover .color-layer {
    border-radius: 4px 0px 0px 4px !important;
    --tabs-color-layer-opacity: 0.7 !important;
}

.scrollable {
    & .t-box {
        padding: 0 3px !important;
    }

    & .Tab[data-colorized="true"] .t-box {
        padding: 0 6px !important;
    }
}

/* Grouped tabs */
.Tab .exp-icon {
    opacity: 1 !important;
}

#root.root .Tab .child-count {
    opacity: 1 !important;
}

#root.root:not(:hover) .Tab .audio {
    margin-left: -11px;
    margin-top: -7px;
}

#root.root:not(:hover) .Tab .audio-icon {
    height: 12px !important;
}

/* New Tab button */
.new-tab-btns {
    background: transparent !important;
    padding: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px !important;
}

/* Search Bar */
#root.root #search_bar {
    order: 2;
    padding-left: 0px;
    padding-right: 6px;
}

/* Navigation box */
#root.root .top-horizontal-box {
    display: flex;
    order: 3 !important;
    margin: 0 auto -2px auto !important;
    padding-top: 10px;
    max-height: 140px;
    padding-bottom: 8px !important;
    overflow: hidden !important;
    & .main-items {
        justify-content: center;
        align-items: center;
        overflow: hidden !important;
    }
}

.top-horizontal-box #nav_bar {
    background-color: transparent !important;
}

#root.root:not(:hover) .top-horizontal-box {
    opacity: 1;
}

.left-vertical-box #nav_bar {
    background-color: transparent !important;
    padding: 12px 6px;
}

/* Misc */
.TabsPanel .bottom-space {
    background: transparent !important;
}

#root.root .top-horizontal-box .main-items {
    transition: height 100ms ease-in-out 0ms, width 100ms ease-in-out 0ms;
    overflow: hidden !important;
}

#root.root .top-horizontal-box .nav-item[data-class="space"] {
    display: block !important;
    min-width: 100% !important;
    height: 2px !important;
}

#root.root {
    padding: var(--tweak-general-padding);
    --general-margin: 3px;

    @media (max-width: 80px) {
        --pinned-tabs-col: 2;
        --tweak-general-padding: 4.5px;
    }

    @media (min-width: 150px) {
        --pinned-tabs-col: 3;
    }

    @media (min-width: 250px) {
        --pinned-tabs-col: 4;
    }

    @media (min-width: 350px) {
        --pinned-tabs-col: 6;
    }

    --tabs-pinned-width: calc(((100vw) - ((var(--tabs-margin) * var(--pinned-tabs-col)) + var(--general-margin) + (2 * var(--tweak-general-padding)))) / var(--pinned-tabs-col));
}

@media (max-width: 160px) {
    #root.root {
        --tabs-pinned-height: 12px;
        --tabs-pinned-width: 12px;
        --tabs-indent: 0;
        --tabs-lvl-opacity: 0;
        width: 100vw;
        max-width: 280px;
        overflow: hidden;
        white-space: nowrap;
    }

    #root.root .PinnedTabsBar .Tab {
        margin-right: 3px !important;
    }

    .scrollable .Tab[data-colorized="true"] .color-layer {
        opacity: 0.3;
        transition: opacity 100ms linear !important;
    }

    #root.root .PinnedTabsBar,
    #root.root .PinnedTabsBar .Tab {
        background-color: transparent !important;
    }

    .PinnedTabsBar .Tab {
        opacity: 0.7 !important;

        &[data-pin="true"] {
            opacity: 1 !important;
            max-width: 32px !important;
            max-height: 32px !important;
        }
    }

    #root.root .PinnedTabsBar {
        max-height: 500px;
    }

    .left-vertical-box,
    #root.root #search_bar,
    #root.root .new-tab-btns,
    .Tab .t-box,
    .PinnedTabsBar .color-layer,
    #root.root .top-horizontal-box .nav-item:not([data-class="panel"]),
    #root.root .nav-item[data-active="false"] {
        display: none !important;
    }

    #root.root .PinnedTabsBar,
    #root.root .PinnedTabsBar .Tab,
    #root.root .top-horizontal-box .main-items {
        /* transition: height 0ms ease-in-out 0ms, width 0ms ease-in-out 0ms !important; */
    }
}