@media (-moz-bool-pref: "af.edgyarc.macos-translucent")
{
  :root {
  /*translucent stuff*/
  #navigator-toolbox, #browser {
  background-color:transparent !important;
}

   &, #navigator-toolbox  {
  background-color:transparent !important;
     appearance: -moz-window-titlebar !important;} 


  &[windowtype="navigator:browser"] {
    background-color:transparent !important;
  }
}
  
/*add translucency to library window WIP*/
  #placesList, #placeContent {
background-color: transparent !important;
appearance: -moz-window-titlebar !important;
}
  
  #placesContentTitle, #placesContentTags, #placesContentUrl,  #placesContentDate,  #placesContentVisitCount,  #placesContentDateAdded,  #placesContentLastModified, #downloadsListBox{
    background-color:transparent !important;
    
  }
  
}
/*end translucent stuff*/